@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');
body {
  margin: 0 !important;
  font-family: 'Roboto', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

ul {
  list-style: none;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
  margin: 50px 0;
  /* background: #a00845; */
  background: url('../public/images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-container {
  width: 100%;
  margin: 10px auto;
}

.btn-primary,
.btn-outline-primary {
  background-color: #ffb111;
  color: #333;
}

.products {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.product {
  border: 1px solid #404040;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
  color: blue;
}

.rating span {
  color: #ffb111;
}

.img-width {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
}

/* Sidebar */
.navbar-brand {
  font-weight: bold;
}

.side-navbar {
  width: 240px;
  height: 100%;
  margin: 50px 0;
  position: absolute;
  left: -300px;
  transition: 0.5s;
  background: #8d3e73;
}

.site-container {
  transition: 0.4s;
}

.active-container {
  margin-left: 240px;
}

.active-nav {
  left: 0;
  position: fixed;
}

.text-bold {
  font-weight: bold;
}

/* Map */
.full-box {
  height: 100vh;
  max-width: initial;
}

.full-box header,
.full-box footer {
  display: none;
}

.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}

.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}

.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}

button.thumbnail {
  padding: 0;
  color: #b25d7fdf;
}

/* Landing Page */
.landing {
  width: 100%;
  height: 600px;
  background: url('../public/images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscribe {
  height: 25vh;
  width: 100%;
  background: #a00845;
}

.carouselBox {
  height: 50px;
}
